---
http_interactions:
- request:
    method: get
    uri: http://www.webservicex.net/uszip.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.webserviceX.NET\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://www.webserviceX.NET\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.webserviceX.NET\">\r\n
        \     <s:element name=\"GetInfoByZIP\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"USZip\" type=\"s:string\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"GetInfoByZIPResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetInfoByZIPResult\">\r\n              <s:complexType mixed=\"true\">\r\n
        \               <s:sequence>\r\n                  <s:any />\r\n                </s:sequence>\r\n
        \             </s:complexType>\r\n            </s:element>\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"GetInfoByCity\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"USCity\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:[...]
- request:
    method: post
    uri: http://www.webservicex.net/uszip.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webserviceX.NET"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetInfoByAreaCode><tns:USAreaCode>201</tns:USAreaCode></tns:GetInfoByAreaCode></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.webserviceX.NET/GetInfoByAreaCode"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetInfoByAreaCodeResponse
        xmlns="http://www.webserviceX.NET"><GetInfoByAreaCodeResult><NewDataSet xmlns=""><Table><CITY>Wood
        Ridge</CITY><STATE>NJ</STATE><ZIP>07075</ZIP><AREA_CODE>201</AREA_CODE><TIME_ZONE>E</TIME_ZONE></Table><Table><CITY>Wyckoff</CITY><STATE>NJ</STATE><ZIP>07481</ZIP><AREA_CODE>201</AREA_CODE><TIME_ZONE>E</TIME_ZONE></Table><Table><CITY>Allendale</CITY><STATE>NJ</STATE><ZIP>07401</ZIP><AREA_CODE>201</AREA_CODE><TIME_ZONE>E</TIME_ZONE></Table><Table><CITY>Alpine</CITY><STATE>NJ</STATE><ZIP>07620</ZIP><AREA_CODE>201</AREA_CODE><TIME_ZONE>E</TIME_ZONE></Table><Table><CITY>Bayonne</CITY><STATE>NJ</STATE><ZIP>07002</ZIP><AREA_CODE>201</AREA_CODE><TIME_ZONE>E</TIME_ZONE></Table><Table[...]
